/* 기본 라이트 모드 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');

.Header {
  background: linear-gradient(to bottom right, rgba(241, 234, 255, 0.5), rgba(208, 162, 248, 0.5));
  transition: background 1s ease, color 1s ease;
  height: 8vh;
  position: fixed;
  width: 100%;
  z-index: 20;
  backdrop-filter: blur(20px);
  transition: top 1s ease-out;
  display: flex;
  align-items: center;
}

.Header.hidden {
  top: -8vh;
}

.Header.visible {
  top: 0vh;
}

.form-control {
  width: 200px;
  margin-right: 1em;
  transition: background-color 1s ease, color 1s ease;
}

.light-dark-icon {
  font-size: 1.5em;
  cursor: pointer;
  transition: background 1s ease, color 1s ease;
}

/* .light-dark-icon.dark-mode {
  font-size: 1.5em;
  cursor: pointer;
  color: #F1EAFF;
  transition: background 1s ease, color 1s ease;
} */

body {
  transition: background 1s ease, color 1s ease;
}

/* 다크 모드 스타일 */
body.dark-mode {
  background-color: #000000;
  color: #F1EAFF;
  transition: background-color 1s ease, color 1s ease;
}

.Header.dark-mode {
  background: linear-gradient(to bottom right, rgba(115, 41, 127, 0.5), rgba(76, 27, 83, 0.5));
  color: #F1EAFF;
  transition: background 1s ease, color 1s ease;
}

/* .Header.dark-mode .navbar-brand {
  color: #F1EAFF;
  transition: background 1s ease, color 1s ease;
}

.Header.dark-mode .nav-link {
  color: #F1EAFF;
  transition: background 1s ease, color 1s ease;
}

.Header.dark-mode .form-control {
  background-color: #333;
  color: #F1EAFF;
  transition: background-color 1s ease, color 1s ease;
}

.Header.dark-mode .light-dark-icon {
  color: #F1EAFF;
  transition: background 1s ease, color 1s ease;
} */

@media (max-width: 767px) {
  .form-control {
    width: 100px;
  }
}

.suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 44px;
  left: 0%;
  width: 100%;
  z-index: 500;
  max-height: 30vh;
  overflow-y: auto;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark .light-dark-mode{
  color: #F1EAFF !important;
  transition: color 1s ease;
}

.dark .light-dark-mode:hover{
  color: #CCCCCC !important;
}