/*======================================
            홈 페이지의 첫 페이지
======================================*/

.Home__homeContainer {
    position: relative;
    width: 100%;
    min-height: 550vh;
    background-color: #f1eaff;
    overflow-x: hidden;
}

.Home__homeContainer.dark{
    background-color: rgba(41, 14, 46, 1);
}

.Home__homeIntroLinker{
    transition: 1s;
}

.Home__background-Image-Wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Home__quickcatch-logo-wrapper{
    top: 42vh;
    text-align: center;
    width: 100%;
    height: 25vh;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.Home__link-to-tvShopping-desc{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 76vh;
}

.Home__link-to-tvShopping{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    font-size: 0.6em;
    border-radius: 10em;
    transition: 0.5s;
}

.Home__link-to-tvShopping:hover{
    box-shadow: 0px 0px 9px 9px rgba(220, 191, 255, 1);
    background: rgba(220, 191, 255, 1);
}

.Home__link-to-tvShopping.dark:hover{
    box-shadow: 0px 0px 9px 9px rgba(115, 41, 127, 1);
    background: rgba(115, 41, 127, 1);
}

.Home__start-bar{
    width: 45vh;
    height: 12vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home__start-bar-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Home__start-bar-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Home__quickcatch-logo{
    position: relative;
    height: 70%;
}

.Home__main-background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Home__more-info-arrow{
    position: absolute;
    top: 90vh;
    color: rgba(187, 134, 252, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    animation: floating 3s infinite;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.Home__more-info-arrow:hover{
    transform: scale(1.1);
}

@keyframes floating{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0); 
    }
}

/*======================================
        홈 페이지 공통 스타일과 폰트
======================================*/


.Home__contents{
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    top: 110vh;
    width: 60%;
    display: flex;
    flex-direction: column;
}

/* 모든 소개글의 글씨체와 여백을 설정한다 */
.Home__box-Title {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 20vh;
}

@font-face {
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}


.Home__explainBox{
    background-color:rgba(138, 114, 159, 0.3);
    padding: 1em;
    border-radius: 1em;
    width: 100%;
    margin-top: 15vh;
    opacity: 0.8;
    box-shadow: 0px 5px 6px 6px rgba(0, 0, 0, 0.05);
}

.Home__explainBox-describe{
    font-size: 0.5em;
    text-align: left;
}

.Home__imageBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.Home__imageBox-img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    opacity: 0.95;
    box-shadow: 0px 6px 5px 5px rgba(138, 114, 159, 0.4);
}



/*======================================
                스와이퍼
======================================*/


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide{
    width: 100%;
    flex-shrink: 0;
}

.swiper-button-next,
.swiper-button-prev{
    color: rgba(155,89,182,0.7) !important;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800;
}

/* 페이지네이션 스타일 */
.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet-active {
    background-color: rgba(155, 89, 182, 0.7) !important; 
}


/*======================================
              홈 페이지 소개글
======================================*/

.Home__introBox {
    width: 100%;
    min-height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.Home__introBox-Title{
    margin-top: 1vh;
    margin-bottom: 2vh;
    max-height: 20vh;
}

/* 하나의 주제를 보여 줄 박스 */
.Home__introBox-Describe {
    font-weight: 500;
    font-size: 0.5em;
}

.Home__introBox-Describe-Subtitle{
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 4vh;
}

.Home__introBox-Describe-Content {
    margin-top:2em;
    position: relative;
    left: -20vw;
    width: 100vw;
    display: flex;
    align-items: stretch;
    /* border-top: 1.2px solid rgba(197,79,216, 0.9);
    border-bottom: 1.2px solid rgba(197,79,216, 0.9); */
}

.Home__introBox_Describe-ImageWrapper{
    width: 50vw;
}

.Home__introBox-Describe-Detail-image{
    width: 100%;
    transform: scale(1.0);
}

.Home__introBox_Describe-ImageWrapper img {
    width: 100%; /* Ensure image fills the container */
    height: auto; /* Maintain aspect ratio */
}

.Home__introBox-Describe-Content ol {
    width: 50vw;
    list-style-type: decimal; 
    padding-left: 2em; 
    padding-right: 2em; 
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Distribute list items evenly */
    align-items: flex-start;
    gap: 0.3em;
}

.Home__subtitle-explainBox{
    /* background-color:rgba(229, 212, 255, 0.3); */
    padding: 1em;
    border-radius: 5em;
    width: 100%;
    opacity: 0.6;
}

.Home__introBox-Describe-Detail-image-wrapper{
    left: -10vw;
    width: 80vw;
    margin-bottom: 5vh;
    position: relative;
    overflow: hidden;
}

.Home__introBox-Describe-Detail{
    margin-bottom: 2vh;
    opacity: 0;
    transition: opacity 1s;
}





/*======================================
             홈 페이지, 팀 비전
======================================*/

.Home__vision{
    margin-bottom: 0vh;
}

.Home__vision-box{
    position: relative;
    font-size: 0.5em;
    left: -20vw;
    width: 100vw;
    margin-top: 10vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Home__vision-explain-box,
.Home__vision-image-box{
    width: 50%;
    min-height: 40vh;
    box-sizing: border-box;
}

.Home__vision-explain-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.8em;
    padding: 1.8em 0.8em;
    background-color:rgba(220, 191, 255, 1);
}

.Home__vision-explain-box.dark{
    background-color:rgba(76, 27, 83, 1);
}

.Home__vision-homepage-describe-title{
    font-family: 'NanumSquareNeoHeavy';
    font-weight: 700;
}

.Home__vision-homepage-describe-detail{
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    text-align: left !important;
    font-size: 0.7em;
}

.Home__vision-image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(246, 224, 246, 0.816);
}

.Home__vision-image-box.dark{
    background-color: rgba(115, 41, 127, 0.816);
}

.Home__vision-image-wrapper{
    width: 80%;
}

.Home__vision-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*======================================
                 팀원 소개글
======================================*/

.Home__quickCatchTeam{

}

.Home__team-box{
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: relative;
    font-size: 0.5em;
    left: -20vw;
    width: 100vw;
    margin-top: 10vh;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.Home__team-classMate{
    /* border: 2px solid black; */
    width: 20%;
    display: flex;
    flex-direction: column;
}

.Home__team-classMate-name{
    font-weight: 800;
    font-size: 1.4em;
}

.Home__team-classMate-specific{
    font-weight:500;
    font-size: 0.8em;
}

.Home__team-classMate-detail{
    margin-top: 1em;
    padding-top: 1em;
    font-size: 0.8em;
    text-align: left;
    background-color: rgba(220, 191, 255, 0.5);
    border-radius: 0.7em;
    padding: 0.5em;
}

.Home__team-classMate-detail.dark{
    background-color: rgba(76, 27, 83, 0.5);
}

.Home__team-classMate-detail li {
    padding-top: 0.1em;
}
/* .Home__vision-box{
    position: relative;
    font-size: 0.5em;
    left: -20vw;
    width: 100vw;
    margin-top: 10vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */




