/* HotProduct.css */
.HotProductOuterContainer {
    position: fixed;
    top: 20vh;
    right: 1em;
    width: 15%;
    padding: 1em;
    height: 50%;
    z-index:1;
}

.todaysHotDealProduct{
    font-size: 1.5em;
    font-weight: 800;
    padding-bottom: 1em;
}


.hotProductBox {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hotProductBox.swipe {
    transform: translateX(100%);
    opacity: 0;
}

.hotProductFirstRow, .hotProductSecondRow, .hotProductThirdRow {
    margin-bottom: 1em;
}

.hotProductImage img {
    width: 100%;
    height: auto;
    border-radius: 1.3em;
    transition: 0.3s;
}

.hotProductImage img:hover {
    opacity: 0.6;
}

.hotProductSales {
    font-size: 1.2em;
    color: red;
}

.hotProductName {
    font-size: 1em;
    font-weight: bold;
}

.hotProductPrice {
    font-size: 1.2em;
    font-weight: 800;
    color: #e388fc; 
}

