.products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 6px solid black;
    height: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.mainLiveProducts{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 4px solid green;
}

.relatedProducts{
    display: flex;
    border: 4px solid blue;
}