.products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8vh;
    height: 92vh;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: auto;
}

.mainLiveProducts{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.liveVideoFrame{
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liveVideo {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.productImage{
    object-fit: scale-down;
    border-radius: 1em;
    width: 50%;
}

.liveProductInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.liveProduct-first-row{
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.shoppingMallLogoImage{
    object-fit: scale-down;
    width: 30%;
    padding-left: 1em;
}

.liveProduct-nowStart-or-willStart{
    font-weight: 900;
    font-size: 1.3em;
    color: rgba(197,79,216, 0.9);
}

.liveProductInfo{
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.liveProduct-second-row{
    padding-top: 1.2em;
}

.liveProduct-link{
    color: white;
    font-family: inherit;
    font-size: 1.3em;
    font-weight: 700;
    width: 35%;
    margin-right: 1em;
    padding-top: 1vh;
    text-align: center;
    text-decoration: inherit;
    background-color:rgba(197,79,216, 0.9);
    transition: 1s;
    transform-origin: center;
    border-radius: 0.5em;
    cursor: pointer;
}

.liveProduct-link:hover{
    color: black;
    background-color:rgba(241, 234, 255, 0.9);
}

.productName{
    text-align: left;
    padding-left: 1.5em;
    font-weight: 600;
}

.liveProduct-last-row{
    padding-top:2.5em;
    display: flex;
    justify-content: space-between;
}

.liveProduct-price{
    font-weight: 800;
    font-size: 2em;
    padding-left: 1em;
}

.relatedProducts{
    display: flex;
    flex-direction: column;
    border-top: 1.2px solid rgba(197,79,216, 0.9);
    padding-top: 1em;
    width: 100%;
}

.priceCompare{
    text-align: left;
    padding-left: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(197, 79, 216, 1);
}

.relatedProductName{
    text-align: left;
    font-size: 1.15em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.6em;
}

.relatedProductPrice{
    font-size: 1.7em;
    font-weight: 700;
    margin-top: 0.5em;
    text-align: left;
    margin-bottom: 0.5em;
}

.purchase-link{
    color: white;
    font-family: inherit;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    width: 35%;
    margin-right: 1em;
    text-align: center;
    text-decoration: inherit;
    background-color:rgba(197,79,216, 0.9);
    transition: 1s;
    border-radius: 0.5em;
    cursor: pointer;
}

.purchase-link:hover{
    color: black;
    background-color:rgba(241, 234, 255, 0.9);
}

.productBucket{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 3%;
    
}

.similarProductComponent{
    text-align: center;
    position: abslolute;
    top: 50%;
    left: 50%;
}

.LiveProducts__product-status-alert{
    padding-top: 3em;
    padding-bottom: 3em;
    font-weight: 500;
    font-size: 1.5em;
    width: 100%;
    padding-left: 1em;
    text-align: center;
}

.similarProduct{
    width: calc(18% - 1%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    font: inherit;
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

.relatedProductImage{
    width: 90%;
    text-align: center;
    border-radius: 1em;
    transition: 1s;
}

.relatedProductImage:hover{
    width: 100%;
}

.showMoreButton{
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 1em 2em;
    background-color: rgba(241, 234, 255, 0.9);
    color: inherit;
    font-weight: 700;
    transition: 1s;
    border: none;
    cursor: pointer;
}

.showMoreButton:hover {
    background-color: rgba(197,79,216, 0.9);
}

/* Dark Mode */
.dark-mode .showMoreButton {
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
}

.dark-mode .showMoreButton:hover {
    background-color: rgba(70, 70, 70, 0.9);
}

.reviews{
    display: flex;
    flex-direction: column;
    border-top: 1.2px solid rgba(197,79,216, 0.9);
    padding-top: 1em;
    width: 100%;
    margin-bottom: 5em;
}

.productDetails{
    display: flex;
    flex-direction: column;
    border-top: 1.2px solid rgba(197,79,216, 0.9);
    padding-top: 1em;
    width: 100%;
    margin-bottom: 5em;
}

.productDetailInfo{
    margin-top: 2em;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.noDetailedProducts{
    height: 100%;
    text-align: left;
    padding-left: 1em;
}

.reviews {
    display: flex;
    flex-direction: column;
    border-top: 1.2px solid rgba(197,79,216, 0.9);
    padding-top: 1em;
    width: 100%;
    margin-bottom: 5em;
}

/* 리뷰 인포 스타일링*/
.reviewInfo {
    width: 100%;
    height: auto;
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1em;
}

.warningInfo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1em;
}

.warningInfoIcon{
    color: rgba(197, 79, 216, 1);
    font-size: 2em;
}

.warningInfoDetail{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-size: 1.1em;
    font-weight: 600;
}

.firstReviewInfo,
.secondReviewInfo{
    cursor: pointer;
    color: rgba(197,79,216, 0.9);
    font-size: 2em;
}

.firstReviewInfoDetail,
.secondReviewInfoDetail {
    opacity: 0;
    max-height: 0;
    transition: 1s;
    width: 80%;
    padding-right: 1em;
    font-size: 1em;
    text-align: right;
}

.firstReviewInfoDetail.visible,
.secondReviewInfoDetail.visible {
    opacity: 1;
    max-height: 10em;
    border: rgba(197,79,216, 0.9) !important;
}

/* 리뷰바 스타일링*/

.LiveProducts__describe_p_n{
    font-size:1.2em;
}

.LiveProducts__positive {
    font-weight: 800;
    font-size: 1.9em;
    color: rgba(34, 136, 238, 0.8);
}

.LiveProducts__negative {
    font-weight: 800;
    font-size: 1.9em;
    color: rgba(212, 31, 31, 0.8);
}

.reviewBar {
    display: flex;
    width: 80%;
    height: 3em;
    margin: 1.5em auto 2em auto;
    border-radius: 1em;
    overflow: hidden;
}

.reviewBar .positive,
.reviewBar .neutral,
.reviewBar .negative {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewBar .positive {
    background-color: rgba(137, 196, 255, 0.5);
}

.reviewBar .neutral {
    background-color: rgba(128, 128, 128, 0.5);
}

.reviewBar .negative {
    background-color: rgba(255, 130, 130, 0.5);
}

.reviewBar .positive,
.reviewBar .neutral,
.reviewBar .negative {
    height: 3em;
    transition: 1s;
}

.reviewBar .positive:hover{
    background-color: rgba(34, 136, 238, 0.5);
}
.reviewBar .neutral:hover{
    background-color: rgba(68, 68, 68, 0.5);
}
.reviewBar .negative:hover {
    background-color: rgba(212, 31, 31, 0.5);
}

.reviewBar .positive .tooltiptext,
.reviewBar .neutral .tooltiptext,
.reviewBar .negative .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-weight: 700; 
    font-size: 1.5em;
    background-color: transparent;
    text-align: center;
    position: relative;
    color: transparent;
    transition: 1s;
    z-index: 1;
}

.reviewBar .positive:hover .tooltiptext,
.reviewBar .neutral:hover .tooltiptext,
.reviewBar .negative:hover .tooltiptext {
    visibility: visible;
    color: rgba(30,30,30,0.9);
}


/* 리뷰 요약 스타일링 */
.reviewSummary{
    margin-top: 3.5em;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
}

.positiveAIImg,
.negativeAIImg {
    width: 95%;
}

.summaryFirstColumn{
    margin-bottom: 10em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.positiveReviewTitle,
.negativeReviewTitle {
    font-weight: 800;
    width: 80%;
    padding: 1.5em;
}

.positiveReviewTitle{
    margin-left: 10%;
    margin-top: 1em;
    background: linear-gradient(to right top, rgba(238, 246, 255, 0.5), rgba(77, 164, 251, 0.5));
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

.summarySecondColumn{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;
}

.positiveReviewSummary{
    margin-right: 1.5em;
}

.negativeReviewSummary{
    margin-left: 1.5em;
}

.reviewSummary .positiveReviewSummary,
.reviewSummary .negativeReviewSummary {
    padding: 1em;
    border-radius: 1.2em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 1em;
}

.reviewSummary .positiveReviewSummary{
    background: linear-gradient(to right top, rgba(238, 246, 255, 0.5), rgba(77, 164, 251, 0.5));
}

.reviewSummary .negativeReviewSummary{
    background: linear-gradient(to left top, rgba(254, 225, 225, 0.5), rgba(255, 130, 130, 0.5));
}

.negativeReviewTitle{
    margin-left: 10%;
    margin-bottom: 1em;
    background: linear-gradient(to left top, rgba(254, 225, 225, 0.5), rgba(255, 130, 130, 0.5));
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
}

.summaryThirdColumn{
    margin-top: 10em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




