.outerContainer {
    position: fixed;
    top: 20vh;
    left: 1em;
    width: 15%;
    padding: 1em;
    background: rgba(255, 255, 255, 1); 
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 500;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.fixContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.menuContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.announceSelectMall{
    font-size: 1.3em;
    font-weight: 800;
    padding-bottom: 1em;
}

.checkbox-item-wrapper {
    opacity: 1.0;
    padding: 0.3em;
    background: rgba(208, 162, 248, 0.05);
    margin-bottom: 0.4em;
    border-radius: 10em;
    cursor: pointer;
    width: 70%;
    transition: 1s;
    display: flex;
    justify-content: center; /* Center horizontally */
}

.checkbox-item-wrapper:hover {
    background: rgba(208, 162, 248, 0.2);
}

.checkbox-item-wrapper.checked {
    border: 0.1em solid rgba(208, 162, 248, 0.25);
}

.checkbox-item-wrapper.checked:hover {
    background: rgba(208, 162, 248, 0.);
}

.checkbox-item-wrapper:not(.checked) {
    opacity: 0.5; /* 선택되지 않은 경우 불투명도 50% */
}

.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the images */
    padding: 10px; /* Reduced padding */
    background: transparent;
    border-radius: 8px;
    font-size: 0; /* Remove text */
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    transition: 0.4s;
    box-sizing: border-box;
    height: auto; /* Adjust height to content */
}

.checkbox-item input[type="checkbox"] {
    display: none;
}

.checkbox-item img {
    width: 80px; /* Increase the image size */
    height: auto;
    margin: 0; /* Remove margin */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.checkbox-item label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make label full width */
    cursor: pointer;
}

/* 다크모드일 때 이미지 색상 반전 */
body.dark-mode .dark-mode-image {
    filter: invert(1);
}

.checkbox-item-wrapper:hover {
    transform: scale(1.1); /* 1.2배 확대 */
}