.Main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.loadingMessage{
    padding-top: 8vh;
    font-size: 3.5em;
    font-weight: 800;
    text-align: center;
    line-height: 52vh;
    width: 100vh;
    height: 82vh;
}

.emptyMessage{
    padding-top: 18vh;
    font-size: 3em;
    text-align: center;
}

.hourGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding-top: 8vh;
}

.hourLabel {
    font-size: 1.2em;
    border-radius: 0.75em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    text-align: left;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
    background-color: rgba(197,79,216, 0.15);
}

.hourLabel.dark-mode {
    background-color: rgba(197,79,216, 0.85);
}

.hourContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
}

.mallsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-height: calc(100vh-0em);
    overflow-y: auto;
}

.mallSelection{
    padding: 10px;
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    position: relative;
    flex-direction: row; 
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: space-between;
    border-radius: 0.75em;
    border-bottom: 1px solid rgba(197,79,216, 0.15);
    width: 100%;
    height: 14em;
}

.divForAlertAlign{
    position: absolute;
    top: 0.5em;
    left: 0em;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.productReviewExplain{
    opacity: 0;
    border: 1px solid rgba(55,55,55,0.9);
    position: absolute;
    font-weight: 600;
    background-color: rgba(255,255,255,0.85);
    font-size: 0.85em;
    width: 12em;
    height: 8em;
    z-index:1;
    word-break:break-all;
    padding-top: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    transition: opacity 0.5s;
    border-radius: 1em;
    top: 1.5em;
    left: 0.5em;
}

.productReviewExplain::after {
    content: "";
    position: absolute;
    bottom: -1.4em;
    left: 0.8em;
    width: 0;
    height: 0;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.7em solid rgba(255, 255, 255, 0.7);
    border-top-color: rgba(255, 255, 255, 0.7);
    border-top: 0.7em solid rgba(55, 55, 55, 0.9);
    z-index: -1;
}

.productReviewExplain.visible{
    opacity: 1;
}

.alert{
    cursor: pointer;
    transition: 1s;
    scale: 1;
    font-size: 1.5em;
    margin-left: 0;
    border: none;
    opacity: 100%;
}

.alert:hover {
    transform: scale(1.1);
    opacity: 40%;
    color:rgba(110, 113, 15, 0.9);
}

.reviewAvailableBadge{
    position: absolute;
    cursor: pointer;
    bottom: 0.2em;
    right: 0.4em;
    width: 1em;
    height: 1em;
    color: rgba(225, 231, 32, 0.7);
    transition: color 1s;
    font-size: 2.3em;
    font-weight: 900;
}

.reviewAvailableBadge:hover{
    color: rgba(225, 227, 190, 0.7);
}

.productImageAlign{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.productImageFix {
    position: relative;
    width: 60%;
    aspect-ratio: 1 / 1;
    transition: transform 0.5s;
    transform-origin: center;
    overflow: hidden;
    border-radius: 1.2em;
}

.productImageFix img {
    border-radius: 1.2em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productImageFix:hover{
    transform: scale(1.1);
    aspect-ratio: 1 / 1;
}

.customLink{
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element */
    font-family: inherit; /* Inherits the font-family from the parent element */
    font-size: inherit; /* Inherits the font-size from the parent element */
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productInfoBox{
    width: 70%;
    height: 100%;
}

.productFirstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
}

.productName{
    font-size: 0.95em;
    overflow: auto;
    padding-right: 1.5em;
    font-weight: 700;
    width: 71%;
    height: 100%;
    text-align: left;
}

.productName::-webkit-scrollbar{
    width: 0;
}

.productFirstRow-logo-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 24%;
    height: 100%;
}

.logoContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    overflow: hidden;
}

.productMallLogo{
    object-fit: contain;
    max-height: 60%;
    width: auto;
    border-radius: 0;
}

.productPrice{
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
    height: 50%;
    text-align: right;
}

.high-low{
    width: 5%;
}

.liveSign {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(197,79,216, 0.85);
    color: white;
    padding: 0.4em 1em;
    margin-top: 0.1em;
    margin-left: 0.2em;
    font-size: 0.8em;
    font-weight: bold;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.productSecondRow {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
}

.tvShopping__similarProductLink{
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element */
    font-family: inherit; /* Inherits the font-family from the parent element */
    font-size: inherit; /* Inherits the font-size from the parent element */
}

.tvShopping__similarProduct {
    width: 30%;
    height: 100%;
}

.tvShopping__similarProductElementWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tvShopping__similarProductImageWrapper {
    width: 60%;
    height: 60%;
    transition: 0.4s;
    overflow: hidden;
}

.tvShopping__similarProductImageWrapper:hover{
    opacity: 0.6;
}

.tvShopping__similarProductImage{
    border-radius: 1.2em;
}

.tvShopping__seller {
    width: 100%;
    font-size: 0.8em;
    color: #666;
    overflow-y: auto hidden;
    padding-top: 0.6em;
    height: 20%;
    font-weight: 500;
}

.tvShopping__price {
    font-size: 0.9em;
    font-weight: 700;
    height: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tvShopping__empty {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    visibility: hidden; /* Ensures nothing is displayed */
}

.arrow{
    font-size: 1.2em;
}

.arrowUp{
    
    color: rgba(255, 62, 62, 0.7);
}

.arrowDown{
    color: rgba(111, 53, 236, 0.7);
}

.arrowEqual{
    color: rgba(148, 148, 148, 0.7);
}

@media (max-width: 1200px) {
    .similarProductImageWrapper{
        width: 120%;
    }
}

@media (max-width: 992px) {
    .similarProductImageWrapper {
        width: 150%;
    }
}

@media (max-width: 768px) {
    .similarProductImageWrapper {
        width: 140%;
    }
    .productSecondRow{
        padding-left:1em;
    }
}

@media (max-width: 576px) {
    .similarProductImageWrapper {
        width: 130%;
    }
    .productSecondRow{
        padding-left:0.2em;
    }
}