.Main{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    max-height: 75vh;
    
}

.mallSelectionButtons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 1.7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mallLogoContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 33.333333%;
}

.fixMallLogoSize{
    width: 70%;
    height: 100%;
}

.mallLogo{
    width: auto;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}

.radioMallLogo{
    width: 40%;
    height: auto;
    cursor: pointer;
}

.radioToggle {
    position: absolute;
    background: rgba(229, 212, 255, 0.7);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
    transform: translateX(-5%);
    width: 20em;
    opacity: 10;
    transition: opacity 1s ease-in-out;
}

.radio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-item input[type="radio"] {
    display: none;
}

.radio-item + .radio-item {
    margin-top: 15px;
}

.radio-item label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    transition: 0.4s ease-in-out 0s;
    width: 100%;
    box-sizing: border-box;
    height: 2.8em;
}

.radio-item label img{
    margin-left: 2em;
}

.radio-item label:after,
.radio-item label:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after {
    height: 19px;
    width: 19px;
    border: 2px solid rgba(41, 14, 46, 0.4);
    left: 10px;
    top: calc(50% - 9.5px);
}

.radio-item label:before {
    background: rgba(41, 14, 46, 0.9);
    height: 20px;
    width: 20px;
    left: 10px;
    top: calc(10%-10px);
    transform: scale(3);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out 0s;
}

.radio-item [type="radio"]:checked ~ label {
    border-color: #524eee;
    background: rgba(115, 41, 127, 0.8);
}

.radio-item [type="radio"]:checked ~ label::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.hourGroup {
    display: flex;
    flex-direction: column;
}

.hourLabel {
    font-size: 1.2em;
    border-top: 1px solid #ccc;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    text-align: left;
    font-size: 2em;
    font-weight: 600;
}

.hourContent{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
}

.confirmButton{
    background-color: transparent;
    border: transparent;
    font-size:1.5em;
    font-weight: 700;
    transition: 1s;
    border-radius: 5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.5em;
}

.confirmButton:hover{
    background-color: rgba(115, 41, 127, 0.8);
}

.mallsContainer{
    border-top: 2px solid rgba(197,79,216, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-height: calc(100vh-40px);
    overflow-y: auto;
    /* overflow-y: auto; */
}

.mallSelection{
    padding: 10px;
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    padding: 10px 0;
    position: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid salmon; */
    width: 60%;
}

.product .productImageAlign{
    width: 100%;
    /* border: 1px dotted lightblue; */
    display: flex;
    justify-content: center;
}

.product .productImageFix {
    width: 74%;
    aspect-ratio: 1 / 1;
    transition: 1s;
}

.product .productImageFix:hover{
    width: 85%;
    aspect-ratio: 1 / 1;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1em;
}

.productName{
    font-size: 1.2em;
    margin-top:1em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 4.7em;
    padding-right: 1.5em;
}
.productPrice{
    font-size: 1.5em;
    font-weight: bold;
    /* border: 2px solid greenyellow; */
}

.customLink{
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element */
    font-family: inherit; /* Inherits the font-family from the parent element */
    font-size: inherit; /* Inherits the font-size from the parent element */
}

.liveSign {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(197,79,216, 0.85);
    color: white;
    padding: 0.4em 1em;
    margin-top: 0.1em;
    margin-left: 0.2em;
    font-size: 0.8em;
    font-weight: bold;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}