.Main{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    max-height: 85vh;
    border: 4px solid black;
}

.hourGroup {
    display: flex;
    flex-direction: column;
}

.hourLabel {
    font-size: 1.2em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    text-align: left;
    font-size: 2em;
    font-weight: 600;
}

.hourContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
    border: 3px dotted blue;
}

.mallsContainer{
    border-top: 2px solid rgba(197,79,216, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-height: calc(100vh-40px);
    overflow-y: auto;
    /* overflow-y: auto; */
}

.mallSelection{
    padding: 10px;
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    border: 2px solid salmon;
    width: 100%;
    height: 20em;
}

.productImageAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted lightblue;
    width: 40%;
    height: 100%;
}

.productImageFix {
    position: relative;
    width: 64%;
    aspect-ratio: 1 / 1;
    transition: 1s;
}

.productImageFix:hover{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1em;
}

.productInfoBox{
    border: 3px solid black;
    width: 60%;
    height: 100%;
}

.productName{
    border: 2px solid violet;
    font-size: 1.2em;
    margin-top: 1em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 4.7em;
    padding-right: 1.5em;
}
.productPrice{
    border: 2px solid silver;
    font-size: 1.5em;
    font-weight: bold;
    /* border: 2px solid greenyellow; */
}

.customLink{
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element */
    font-family: inherit; /* Inherits the font-family from the parent element */
    font-size: inherit; /* Inherits the font-size from the parent element */
}

.liveSign {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(197,79,216, 0.85);
    color: white;
    padding: 0.4em 1em;
    margin-top: 0.1em;
    margin-left: 0.2em;
    font-size: 0.8em;
    font-weight: bold;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}